@import "vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-gray;
  width: 100%;
  font-family: $font-fira-sans;

  // todo не надо так font-family: "FiraSans";
  // todo не надо так width: 80%;
  //margin-left: auto;
  //margin-right: auto;
  //color: white;
}

.container {
  --base-padding-x: max(18vw, 50px);

  margin: 0 auto;
  padding: 0 var(--base-padding-x);
}

.btn {
  border: none;
  outline: none;
}


