// colors
$color-gray: #262731;
$color-darker-gray: #313341;
$color-white: #EEF3FF;


// fonts
$font-fira-sans: 'Fira Sans Condensed', sans-serif;
//$font-fira-sans-bold: 'FiraSansBoldCondensed', sans-serif;
//$font-fira-sans-light: 'FiraSansLight', sans-serif;

// font-weight
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

// sizes
$fs-xxl: 48px;
$fs-xl: 36px;
$fs-l: 24px;
$fs-m: 18px;
$fs-s: 16px;
$fs-xs: 14px;
$fs-xxs: 12px;

// margins
$margin-xs: 10px;
$margin-s: 20px;
$margin-m: 30px;
$margin-l: 40px;
$margin-xl: 50px;
$margin-xxl: 60px;
